<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- CSS Reset -->
    <link rel="stylesheet" type="text/css" href="http://ultrapod.github.com/css/reset.css" /> 
    
    <!-- Styling CSS (WebPutty.net control script)-->
    <link rel="stylesheet" type="text/css" href="//webputty.commondatastorage.googleapis.com/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRj77TEM.css" />
<script type="text/javascript">(function(w,d){if(w.location!=w.parent.location||w.location.search.indexOf('__preview_css__')>-1){var t=d.createElement('script');t.type='text/javascript';t.async=true;t.src='http://www.webputty.net/js/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRj77TEM';(d.body||d.documentElement).appendChild(t);}})(window,document);</script>
  </head>
<body>
<div class="wrapper">
  <div id="topbar">
    <div id="topbar_align">
      <img src="http://ultrapod.github.com/img/logoicon.png" id="logoicon" />
      <div id="logo">Project Ultrapod</div>
      <div id="navbar">
        <a href="http://ultrapod.github.com/about.md">about</a>
        <a href="http://ultrapod.github.com/team.md">the team</a>
        <a href="http://ultrapod.github.com/faq.md">faq</a>
        <a href="http://ultrapod.github.com/contact.md">contact</a>
        <a href="http://www.zazzle.com/project_ultrapod">store</a>
      </div>
    </div>
  </div>
  <div id="content">
    {{ content }}
  </div>
<div class="push"></div>
</div>
<div class="footer">Test of sticky footer.</div>
</body>
</html>
